<h1> Topic-org-tool </h1>




<b>A small desription of wuts goin on:</b> This django app is meant to be the backend of my app. But since I am just starting to design
the thing, and this pretty much being my first app, I will make a basic front end here so I can just quickly test the app.

<br>
-------------------------------------------------------------------------------------------------------------------------


<br><br>


{% if user.username %}
You are logged in as <b>{{user.username}}.</b> <a href = "/user/logout/">Logout</a>. 

<br>
-------------------------------------------------------------------------------------------------------------------------

{% block content %}
{% endblock %}



LOGOUT

{% else %}

No one is logged in!!

<a href="/user/login"> LOGIN </a> |
<a href="/user/register"> REGISTER </a>

{% endif %}